---
import { actions, isInputError } from "astro:actions";
import { authStore } from "@/store/store";
import AuthLayout from "@/layouts/AuthLayout.astro";
import InputText from "@/components/InputText.astro";

const result = await Astro.getActionResult(actions.singIn);

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
const serverValidationErrors = result?.data ? { ...result.data } : {};

if (authStore.value.session) {
    return Astro.redirect('/')
}
---

<AuthLayout subtitle="Inicia sesión en tu cuenta">
    <form method="post" class="form min-w-full" action={actions.singIn}>
        <InputText 
            name="email" 
            type="email"
            title="Correo electronico" 
            placeholder="correo@gmail.com" 
            inputErrors={inputErrors['email']}
            serverValidations={serverValidationErrors}
        />
        
        <InputText 
            name="password" 
            type="password"
            title="Contraseña" 
            placeholder="**********" 
            inputErrors={inputErrors['password']}
            serverValidations={serverValidationErrors}
        />

        <button type="submit" class="btn-submit mt-4">
            Iniciar Sesión
        </button>
    </form>

    <div class="flex flex-col items-center">
        ¿No tienes una cuenta?
        <a href="/auth/register" target="_self" class="text-orange-400">
            Crear Cuenta
        </a>
    </div>
</AuthLayout>