---
import Carousel from "@/components/react/Carousel";
---

<section class="section bg-thertiary">
    <h4>Galería de Fotos</h4>

    <div class="flex flex-col lg:flex-row gap-8">
        <div class="flex flex-col gap-2">
            <h6>Interior del restaurante</h6>
            <p>
                El cálido y acogedor interior de la pizzería está decorado con detalles rústicos que 
                evocan una atmósfera auténtica y familiar, mientras que una suave luz amarilla ilumina
                las mesas de madera, creando un ambiente relajado y amigable. Las mesas, dispuestas de
                forma ordenada, están rodeadas de sillas cómodas, ideal para disfrutar de una deliciosa
                pizza en buena compañía.
            </p>
        </div>
        
        <Carousel client:visible/>
    </div>
</section>