---
import Carousel from "@/components/react/Carousel";
---

<section class="flex flex-col gap-8 px-6 py-12 bg-thertiary">
    <h4 class="text-white font-semibold text-xl text-center">
        Galería de Fotos
    </h4>

    <div class="flex flex-col lg:flex-row gap-8">
        <div class="flex flex-col gap-2">
            <h6 class="text-white font-semibold">
                Interior del restaurante
            </h6>
            <p class="text-white text-sm  text-opacity-70">
                El cálido y acogedor interior de la pizzería está decorado con detalles rústicos que 
                evocan una atmósfera auténtica y familiar, mientras que una suave luz amarilla ilumina
                las mesas de madera, creando un ambiente relajado y amigable. Las mesas, dispuestas de
                forma ordenada, están rodeadas de sillas cómodas, ideal para disfrutar de una deliciosa
                pizza en buena compañía.
            </p>
        </div>
        
        <Carousel client:visible/>
    </div>
</section>