<section id="home" class="section-home">
    <div class="flex flex-col h-screen gap-8 px-4 py-[160px] items-center justify-center bg-black bg-opacity-45">
        <div class="flex flex-col gap-2">
            <h2>Pizzería</h2>
            <h1>El Pizzeton D'Guti</h1>
            
            <p class="lg:text-2xl text-opacity-85 text-center">
                Descubre el auténtico sabor en cada bocado
            </p>
        </div>

        <a href="#menú" class="btn">Ver Menú</a>
    </div>
</section>