---

---

<section>
    <div>

    </div>

    <div>
        <h5>

        </h5>

        <form action="">
            <input type="text" placeholder="Nombre Completo">
            <input type="tel" placeholder="Numero de Telefono">
            <select>
                {
                    [1, 2, 3, 4, 5].map(v => (
                        <option value={v}>{v}</option>
                    ))
                }
            </select>
            <input type="text" placeholder="Opinion">
        </form>
    </div>
</section>