---
import { actions } from "astro:actions";
import CarouselOpinions from "@/components/react/CarouselOpinions";
import OpinionsForm from "@/components/OpinionsForm.astro";
import OpinionsZero from "@/components/OpinionsZero.astro";
import Error from "@/components/Error.astro";

const session = await Astro.callAction(actions.checkToken, {});
const { data, error } = await Astro.callAction(actions.getLastOpinions, {});
---

<section class="section items-center" style="padding-inline: 0">
    <h3>Rese침as de los Clientes</h3>

    { !data || error 
        ? <Error/> 
        : data.length > 4
            ? <CarouselOpinions opinions={data} client:visible />
            : <OpinionsZero/>
    }

    {
        session 
            ?   <OpinionsForm/>
            :   <div class="flex flex-col size-edit md:flex-row items-center gap-4 p-4 bg-secondary rounded-lg">
                    <p class="text-center">Para poder aportar tu opini칩n debes de registrate en nuestro sitio web e iniciar sesi칩n.</p>
                    <a href="/auth/login" class="btn w-full sm:max-w-[300px] md:max-w-max text-center">
                        Iniciar Sesi칩n
                    </a>
                </div>
    }
</section>