---
import OpinionsList from "@/components/OpinionsList.astro";
import ValorationSelect from "@/components/react/ValorationSelect";
---

<section class="section" style="padding-inline: 0">
    <h3>Reseñas de los Clientes</h3>

    <OpinionsList/> 

    <div class="flex flex-col items-center gap-4">
        <h5 class="text-xl font-semibold">
            Deja tu Opinión
        </h5>

        <form action="" class="flex w-10/12 flex-col gap-3 p-3">
            <label title="Nombre Completo" for="nombre">
                <input id="nombre" type="text" placeholder="Nombre Completo" class="input" />
            </label>
            <label title="Número de Telefono" for="telefono">
                <input id="telefono" type="tel" placeholder="Número de Telefono" class="input"/>
            </label>
            <ValorationSelect client:visible/>
            <label title="Opinión" for="opinion">
                <textarea id="opinion" placeholder="Opinión (150 carácteres)" maxlength="150" class="input h-24 w-full"/>
            </label>

            <button
                type="submit"
                class="py-3 bg-white text-primary font-semibold rounded-lg
                hover:animate-scale lg:hover:animate-shake hover:shadow-lg hover:shadow-amber-500"
            >
                Enviar Opinión
            </button>
        </form>
    </div>
</section>