---
import { actions } from "astro:actions";
import CarouselOpinions from "@/components/react/CarouselOpinions";
import OpinionsForm from "@/components/OpinionsForm.astro";
import OpinionsZero from "@/components/OpinionsZero.astro";
import Error from "@/components/Error.astro";

const { data, error } = await Astro.callAction(actions.getLastOpinions, {});
---

<section class="section items-center" style="padding-inline: 0">
    <h3>Reseñas de los Clientes</h3>

    { !data || error 
        ? <Error/> 
        : data.length > 4
            ? <CarouselOpinions opinions={data} client:visible />
            : <OpinionsZero/>
    }
    
    <OpinionsForm/>
</section>