---
import { actions } from "astro:actions";
import CardsLayout from "@/layouts/CardsLayout.astro";
import ProductCard from "@/components/ProductCard.astro";
import EmptyData from "@/components/EmptyData.astro";
import Error from "@/components/Error.astro";

const { data, error } = await Astro.callAction(actions.getProminentPizzas, {});
---

<CardsLayout title="Pizzas Destacadas">
    <div class="flex w-screen flex-col items-center gap-1 px-6">
        <p slot="description" class="text-center max-w-screen-xl self-center">
            Explora nuestras pizzas destacadas, esta selección única que combina los sabores más clásicos 
            con opciones gourmet irresistibles. Preparadas con ingredientes frescos, masas crujientes y 
            recetas tradicionales, cada pizza está pensada para deleitar tu paladar. <br/>
        </p>
        <b class="text-white">¿Listo para elegir tu favorita?</b>
    </div>
    

    { 
        (!data || error) ? <Error/> : (data.length === 0) 
            ? <EmptyData/>
            : data.map((product) =>  <ProductCard product={ product }/> ) 
    }
</CardsLayout>
