---
import { actions } from "astro:actions";
import CardsLayout from "@/layouts/CardsLayout.astro";
import ProductCard from "@/components/ProductCard.astro";
import EmptyData from "@/components/EmptyData.astro";
import Error from "@/components/Error.astro";

const { data, error } = await actions.getProminentPizzas();
---

<CardsLayout title="Pizzas Destacadas">
    <p slot="description" class="text-center max-w-screen-xl self-center">
        Explora nuestras pizzas destacadas, una selección única que combina los sabores más clásicos 
        con opciones gourmet irresistibles. Preparadas con ingredientes frescos, masas crujientes y 
        recetas tradicionales, cada pizza está pensada para deleitar tu paladar. 
        <b class="text-white">¿Listo para elegir tu favorita?</b>
    </p>

    { 
        (!data || error) ? <Error/> : (data.length === 0) 
            ? <EmptyData/>
            : data.map((product) =>  <ProductCard product={ product }/> ) 
    }
</CardsLayout>
