---
import MapView from "../components/react/MapView";
---
<section id="ubicación" class="flex flex-col px-6 py-12 gap-8 items-center">
    <h3 class="text-white text-xl font-semibold">
        Ubicación
    </h3>
    
    <article class="flex justify-center flex-col gap-6">
        <MapView client:only/>

        <div class="flex flex-col gap-3">
            <h5 class="text-white text-xl font-semibold">
                Como llegar:
            </h5>    
        
            <p class="text-white text-opacity-70">
                Estamos ubicados en el corazón de la ciudad, fácilmente accesible por transporte público y con 
                estacionamiento disponible.
            </p>
        
            <p class="text-white text-opacity-70">
                <b class="text-white">Dirección:</b>
                <br/> Calle Principal 123, Ciudad
            </p>
        
            <p class="text-white text-opacity-70">
                <b class="text-white">Teléfono:</b>
                <br/> +53 53635566
            </p>

            <p class="text-white text-opacity-70">
                <b class="text-white">Horario:</b>
                <br/> Abierto todos los días: 11:00 - 22:00
            </p>
        </div>
    </article>
</section>