<section id="ubicación" class="flex flex-col px-6 py-12 gap-8 items-center">
    <h3 class="text-white text-xl font-semibold">
        Ubicación
    </h3>
    
    <article class="flex justify-center flex-col gap-6">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d771.3410391228911!2d-82.27061464868036!3d23.128666848471042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d23.1286071!2d-82.2704511!5e0!3m2!1sen!2sng!4v1731620596039!5m2!1sen!2sng" 
            class="w-[272px] h-64 rounded-xl"  
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    
        <div class="flex flex-col gap-3">
            <h5 class="text-white text-xl font-semibold">
                Como llegar:
            </h5>    
        
            <p class="text-white text-opacity-70">
                Estamos ubicados en el corazón de la ciudad, fácilmente accesible por transporte público y con 
                estacionamiento disponible.
            </p>
        
            <p class="text-white text-opacity-70">
                <b class="text-white">Dirección:</b>
                <br/> Calle Principal 123, Ciudad
            </p>
        
            <p class="text-white text-opacity-70">
                <b class="text-white">Teléfono:</b>
                <br/> +53 53635566
            </p>

            <p class="text-white text-opacity-70">
                <b class="text-white">Horario:</b>
                <br/> Abierto todos los días: 11:00 - 22:00
            </p>
        </div>
    </article>
</section>