---
import PageLayout from "@/layouts/PageLayout.astro";
import CardsLayout from "@/layouts/CardsLayout.astro";

import HeroView from "@/views/HeroView.astro";

import ProductCard from "@/components/ProductCard.astro";
import EventCard from "@/components/EventCard.astro";
import TeamCard from "@/components/TeamCard.astro";

import { pizzas, events, team } from "@/data/data";

const $pizzas = pizzas.slice(0, 3);
---

<PageLayout>
	<main class="relative top-[78px] h-screen">
		<HeroView/>
		
		<CardsLayout title="Pizzas Destacadas">
			{ $pizzas.map((p) => <ProductCard product={p}/>) }
		</CardsLayout>

		<CardsLayout title="Eventos Especiales" bgView="bg-thertiary">
			{ events.map((e) => <EventCard event={e}/>) }
		</CardsLayout>

		<CardsLayout title="Sobre Nosotros" bgView="bg-thertiary">
			<p class="mt-8 text-white text-center font-light text-opacity-50" slot="description">
				En la Pizzería <b>El Pizzeton D'Guti</b>, nos apasiona crear las mejores pizzas artesanales utilizando ingredientes frescos y locales. Nuestras técnicas modernas y pasión se combinan para ofrecerte una experiencia culinaria única.
			</p>

			{ team.map((t) => <TeamCard teamMember={t}/>) }
		</CardsLayout>
	</main>
</PageLayout>