---
import { IoMenu, IoClose } from "react-icons/io5";
import ChangeSelect from "@/components/react/ChangeSelect";

interface Props {
    links: string[];
}

const { links } = Astro.props;
---

<Fragment>
    <button id="open" class="lg:hidden">
        <IoMenu className='w-9 h-9' color="#ffffff" />
    </button>
    
    <div id="drawer" class="hidden fixed flex-col items-center h-full top-0 right-0 w-9/12 sm:w-7/12 p-6 bg-base">
        <div class="flex w-full justify-end">
            <button id="close">
                <IoClose className='w-9 h-9' color="#ffffff"/>
            </button>
        </div>
        
        <ul class="flex flex-col h-screen gap-4 items-center justify-center">
            {
                links.map(link => (
                    <li class="max-w-fit font-semibold text-white text-opacity-70">
                        <a href={`#${link.toLowerCase()}`}>
                            {link}
                        </a>
                    </li>
                ))
            }
        </ul>

        <ChangeSelect isHidden={false} client:visible/>
    </div>
</Fragment>

<script>
    const buttonOpen = document.getElementById('open');
    const buttonClose = document.getElementById('close');
    const drawer = document.getElementById('drawer');

    buttonOpen?.addEventListener('click', () => {
        drawer?.classList.replace('hidden', 'flex');
    });

    buttonClose?.addEventListener('click', () => {
        drawer?.classList.replace('flex', 'hidden');
    });
</script>