---
import InfoLayout from "@/layouts/InfoLayout.astro";
---

<InfoLayout image="empty" alt="Datos vacios">
    <p class="font-bold text-wrap text-center text-amber-400">
        "No hay nada que mostrar por el momento."
    </p>
</InfoLayout>