<footer class="relative top-[78px] py-6 px-4 flex justify-center items-center bg-primary">
    <a href="#home" class="flex gap-3 font-semibold text-2xl">
        <img src="/svg/logo.svg" alt="Logo"/>
        Pizzeton D'Guti
    </a>
</footer>