<footer class="relative top-[78px] py-6 px-4 flex justify-center items-center bg-primary">
    <div class="flex gap-3">
        <img src="/svg/logo.svg" alt="Logo"/>

        <span class="font-semibold text-2xl text-white">
            Pizzeton D'Guti
        </span>
    </div>
</footer>