<footer class="py-6 px-4 flex justify-center md:justify-start items-center bg-primary">
    <a href="#home" class="flex gap-3 font-semibold text-2xl">
        <img src="/svg/logo.svg" alt="Logo Pizzetón D'Guti"/>
        Pizzeton D'Guti
    </a>
</footer>