<Fragment>
    <title>El Pizzeton D'Gutí - Pizzería en La Habana</title>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Disfruta de las mejores pizzas artesanales en la Pizzería el Pizzeton D'Gutí, ubicada en la Monumental Km 9 1/2 Puente de Santa Fé, Guanabacoa. Ingredientes frescos y recetas tradicionales para una experiencia única.">
    
    <meta name="keywords" content="pizzería, pizzas, pizzas italianas, pizzas artesanales, Cuba, restaurante, Negocio Particular, Guanabacoa, La Habana, mejor pizzería de La Habana, pizzería de La Habana, ingredientes frescos, recetas tradicionales, comida a domicilio, pizzas a domicilio, local para eventos.">
    
    <meta name="robots" content="index, follow">
    
    <meta name="author" content="Adrian Daniel Gutierrez Martínez">
    
    <link rel="canonical" href="https://pizzeton-web-oficial.vercel.app/">

    <meta name="google-site-verification" content="sp-GUK_uDtA0vNxL9ZCB-lKTiYiWJ-6E9qeUqb3_GB8" />
    
    <meta property="og:title" content="El Pizzeton D'Guti - Pizzería en La Habana">
    <meta property="og:description" content="Disfruta de las mejores pizzas artesanales en la Pizzería el Pizzeton D'Gutí, ubicada en la Monumental Km 9 1/2 Puente de Santa Fé, Guanabacoa. Ingredientes frescos y recetas tradicionales para una experiencia única.">
    <meta property="og:image" content="https://pizzeton-web-oficial.vercel.app/images/pizzeria1.jpeg">
    <meta property="og:url" content="https://pizzeton-web-oficial.vercel.app/">
    <meta property="og:type" content="website">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="El Pizzeton D'Guti - Pizzería en La Habana">
    <meta name="twitter:description" content="Disfruta de las mejores pizzas artesanales en la Pizzería el Pizzeton D'Gutí, ubicada en la Monumental Km 9 1/2 Puente de Santa Fé, Guanabacoa. Ingredientes frescos y recetas tradicionales para una experiencia única.">
    <meta name="twitter:image" content="https://pizzeton-web-oficial.vercel.app/images/pizzeria1.jpeg">
    
    <meta name="theme-color" content="#ff4500">
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />   
</Fragment>