---
import ValorationRate from "./ValorationRate.astro";
import { Opinion } from "../interfaces";

interface Props {
    opinions: Opinion[];
}

const { opinions } = Astro.props;
---

<ul class="container flex min-w-full space-x-2 px-6 overflow-x-scroll gap-8 pb-6
    lg:min-w-[1280px] lg:max-w-[1280px] lg:self-center lg:flex-wrap lg:justify-center lg:overflow-hidden"
>
    {
        opinions.map(({ userName, opinion, valoration }) => (
            <li class="flex flex-col items-center min-w-[272px] max-w-[272px] h-fit p-6 gap-4 bg-primary rounded-lg">
                <ValorationRate valoration={ valoration }/>
                <p class="text-center">
                    { opinion }
                </p>
                <h6>{ userName }</h6>
            </li>
        ))
    }
</ul>