---
import ValorationRate from "./react/ValorationRate";
import { opinions } from "@/data/data";
---

<ul class="container flex space-x-4 overflow-x-scroll md:overflow-hidden gap-8 py-6">
    {
        opinions.map(({ user, description, valoration }) => (
            <li class="flex flex-col items-center min-w-[272px] h-fit p-6 gap-4 bg-primary rounded-lg">
                <ValorationRate valoration={ valoration }/>

                <p class="text-center text-white text-opacity-70">
                    { description }
                </p>
                
                <h6 class="text-lg font-semibold">
                    { user }
                </h6>
            </li>
        ))
    }
</ul>