---
import InfoLayout from "@/layouts/InfoLayout.astro";
import ValorationRate from "@/components/ValorationRate.astro";

---
<InfoLayout image="opinion" alt="Primera opinión">
    <p class="font-bold text-wrap text-center">
        "Vamos, sea el primer cliente en dar su opinión."
    </p>
    <ValorationRate valoration={5} />
</InfoLayout>
