---
interface Props {
    label: string;
    description: string;
}

const { label, description } = Astro.props;
---

<p>
    <b class="text-white text-opacity-100">
        { label }
    </b>
    <br/> 
    { description }
</p>