@tailwind base;
@tailwind components;
@tailwind utilities;

.section-home {
    height: 100vh;
    background: url('/background-hero.jpg') no-repeat;
    background-size: cover;
    background-position-x: center;
}

.section-content {
    @apply flex flex-col h-screen justify-center bg-black bg-opacity-45
}

.section {
    @apply flex flex-col gap-6 px-6 py-12
    2xl:p-16 2xl:gap-12
}

.btn {
    @apply px-1.5 py-1.5 md:px-3 md:py-2 rounded-lg bg-white text-black font-medium border-2
    hover:animate-scale hover:shadow-2xl hover:bg-[#1E1E1E] hover:bg-opacity-85 hover:text-white hover:border-gray-300
}

.btn-submit {
    @apply py-3 bg-white text-primary font-semibold rounded-lg hover:animate-scale lg:hover:animate-shake hover:shadow-lg hover:shadow-amber-500
}

.form {
    @apply flex w-10/12 flex-col gap-3 p-3 md:w-7/12 lg:w-5/12 2xl:w-4/12
}

.input {
    @apply px-4 py-3 w-full rounded-lg bg-primary stroke-white
    focus:outline-none focus:ring-2 focus:ring-amber-500 focus:animate-scale focus:my-2
    placeholder:text-slate-300 placeholder:text-opacity-80
}

.error {
    @apply font-bold text-orange-600 mt-1
}

h1, h2 {
    @apply text-3xl text-center font-bold
    xs:text-4xl lg:text-5xl xl:text-6xl
}

h3, h4 {
    @apply font-semibold text-xl text-center
    xs:text-2xl
}

h6 {
    @apply font-semibold text-lg
}

p {
    @apply text-white text-opacity-70 text-sm text-wrap
    sm:text-subtitle
}