---
interface Props {
    id?: string;
    title: string;
    bgView?: string;
}

const { id, title, bgView } = Astro.props;
---

<section id={id} class={`section ${bgView}`}>
    <h3>{ title }</h3>

    <slot name="description"/>

    <div class="flex flex-col items-center justify-center gap-6 md:flex-row md:flex-wrap md:items-start">
        <slot/>
    </div>
</section>