---
interface Props {
    id?: string;
    title: string;
    bgView?: string;
}

const { id, title, bgView } = Astro.props;
---

<section id={id} class={`section ${bgView}`}>
    <h3>{ title }</h3>

    <slot name="description"/>

    <div class="grid grid-cols-1 md:grid-cols-3 justify-items-center gap-6">
        <slot/>
    </div>
</section>