---
import Footer from '@/components/Footer.astro';
import NavBar from '@/components/NavBar.astro';

import "@fontsource-variable/inter";
import "@/global.css";
---

<!doctype html>
<html lang="edfs">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pizzeton D'Guti</title>
	</head>
	<body>
		<NavBar/>
		<slot />
		<Footer/>
	</body>
</html>
<style>
	html{
		font-family: 'Inter Variable', Inter, serif;
		background-color: #444444;
		color: #ffffff;
	}
</style>