---
import "@fontsource-variable/inter";
import "@/global.css";
import MetaSeo from "@/components/MetaSeo.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<MetaSeo/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	html{
		font-family: 'Inter Variable', Inter, serif;
		background-color: #444444;
		color: #ffffff;
	}
</style>